<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div><span>Description: </span>{{hero.powerDescription}}</div>
    <div>
        <label>name:
            <input [(ngModel)] = "hero.name" placeholder="name">
        </label>
    </div>
    
</div>
