/***************************************************************/
/***** CSS Heroes Component *****/
/***************************************************************/

/** Customitzation Heroes List**/

.heroes {
    margin: 0 0 2em 0;
    list-style: none;
    padding: 0;
    width: 15em;
}

    .heroes li {
        cursor: pointer;
        position: relative;
        left: 0;
        background-color: #eee;
        margin: .5em;
        padding: .3em 0;
        height: 1.6em;
        border-radius: 4px;
    }

    .heroes li:hover {
        color: #607D8B;
        background-color: #DDD;
        left: .1em;
    }

    .heroes li.selected {
        background-color: #CFD8DC;
        color: #ffffff;
    }
    .heroes li.selected:hover {
        background-color: #BBD8DC;
        color: white;
    }
.heroes .badge {
    display: inline-block;
    font-size: small;
    color: #fff;
    padding: .8em .7em 0 .7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius:4px 0 0 4px;
}